@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0;
  }
  body {
    @apply m-0  p-0 box-content tracking-wide overflow-x-hidden;
  }
  li {
    @apply list-none;
  }
}

.react-calendar {
  padding-top: 2px;
  border-radius: 6px;
  padding-bottom: 10px;
  width: 100% !important;
  border: none !important;
  background-color: #ffffff !important;
}

abbr:where([title]) {
  font-weight: 400;
  text-decoration: none !important;
}

.react-calendar__tile {
  font-size: 14px;
}

.react-calendar__tile:hover {
  border-radius: 6px;
  background-color: rgba(164, 161, 161, 0.148) !important;
}

.react-calendar__tile--now {
  border-radius: 6px;
  background-color: #f3f4f9 !important;
}

.react-calendar__tile--active {
  border-radius: 6px;
  background-color: #2463eb !important;
}

.react-calendar__navigation {
  padding: 0px 5px;
  margin-top: 20px;
  margin-right: 10px;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px !important;
  height: max-content !important;
}

.react-calendar_navigation_label {
  left: 10px;
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
  position: absolute;
  font-family: "Open Sans";
}

.react-calendar__month-view {
  padding: 0px 15px;
}

.react-calendar__navigation button {
  min-width: 20px !important;
}

.react-calendar__navigation button:hover {
  border-radius: 6px;
  background-color: #f3f4f9 !important;
}

.react-calendar__navigation button:focus {
  border-radius: 6px;
  background-color: #f3f4f9 !important;
}

.react-calendar_month-view_weekdays {
  margin-bottom: 10px;
  color: #9d9fa2 !important;
}

.react-calendar_year-viewmonths,
.react-calendardecade-view_years {
  gap: 5px;
  padding: 10px;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
}

.react-calendar_year-view .react-calendartile,
.react-calendardecade-view .react-calendartile,
.react-calendarcentury-view .react-calendar_tile {
  padding: 1.5em 0.5em !important;
}

.react-calendar_month-view_days {
  gap: 5px;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.react-calendar_month-viewdays_day--weekend {
  color: #f88585 !important;
}
